asgiref==3.9.1
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.4
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.12.0
pathspec==0.12.1
pillow==11.3.0
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
